<?xml version="1.0" ?>
<robot name="robovie_r4" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- <xacro:include filename="$(find r4_description)/urdf/materials.xacro" /> -->
<xacro:include filename="$(find megarover_description)/urdf/mega3_base_model.xacro" />
<xacro:include filename="$(find r4_description)/urdf/robovie_r4_base.xacro" />
<!-- <xacro:include filename="$(find r4_description)/urdf/robovie_r4.trans" /> -->
<!-- <xacro:include filename="$(find r4_description)/urdf/robovie_r4.gazebo" /> -->

<joint name="rover_joint" type="fixed">
  <origin xyz="0.0 0.0 0.015" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="torso_link_r4"/>
</joint>


</robot>
