<?xml version="1.0" ?>
<robot name="robovie_r4" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find r4_description)/urdf/robovie_r4_base.xacro" />
<!-- <xacro:include filename="$(find r4_description)/urdf/robovie_r4.trans" /> -->
<!-- <xacro:include filename="$(find r4_description)/urdf/robovie_r4.gazebo" /> -->

<!-- to fix robot in gazebo world -->
<!-- <link name="world" /> -->

<!-- World fixed joint-->
<!-- <joint name="world_joint" type="fixed">
  <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  <parent link="world"/>
  <child link="dummy_link"/>
</joint> -->

<link name="dummy_link" />
<joint name="dummy_joint" type="fixed">
  <origin xyz="0.0 0.0 0.0" rpy="0 0 ${-pi/2}"/>
  <parent link="dummy_link"/>
  <child link="torso_link_r4"/>
</joint>

</robot>
