<!--
R4(上半身のみ)をROSに接続launch fileです。

起動コマンド： roslaunch r4_control bringup_no_rover.launch

-->

<launch>
  <arg name="r4port" default="/dev/ttyUSB0"/>  <!-- R4 VS-WRC058のデバイスファイルパスを設定してください -->
  <arg name="r4baud" default="921600"/>

  <node pkg="rosserial_python" type="serial_node.py" name="r4" output="screen">
    <param name="port" value="$(arg r4port)"/>
    <param name="baud" value="$(arg r4baud)"/>
  </node>

</launch>